{% extends 'AcmeDynamicFormBundle::base.html.twig' %}

{% block title %}Data Grid Demo{% endblock %}


{#{% block stylesheets %}#}
  {#{{ parent() }}#}
{#{% endblock %}#}



{% block body %}
    <div class="container">
{{ datagrid(datagrid)}}
    </div>

  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/data-grid.js') }}"></script>
  {% endblock %}

{% endblock %}

